:root {
  font-family: PingFang SC,Microsoft Yahei,Heiti SC,system-ui,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}
h3{
  font-size: 56px;
  font-weight: 700;
  line-height: 78.85px;
  padding: 200px 0 28px 0;
  transition: transform 750ms cubic-bezier(0.24, 0, 0.12, 1), opacity 383ms cubic-bezier(0.33, 0, 0.67, 1);
  transform: none;
  opacity: 1;
}
h6{
  font-size: 28px;
  font-weight: 600;
  line-height: 39.42px;
  text-align: left;
}